@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8f7ff;
  --card: #ffffff;
  --accent: #7c3aed;
  --accent-light: #ede9fe;
}

body {
  background-color: var(--bg);
  color: #1e1b4b;
}
